@model MasVeterinarias.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutV";
}

<div class="container min-vh-100">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Mi Veterinaria

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Productos</a>
        </li>
        <li class="breadcrumb-item active">Detalles</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="index.html" class="list-group-item">Detalles del Negocio</a>
                <a href="about.html" class="list-group-item">Personal</a>
                <a href="services.html" class="list-group-item">Categorias</a>
                <a href="contact.html" class="list-group-item ">Servicios</a>
                <a href="portfolio-1-col.html" class="list-group-item active">Productos</a>


            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h3>Detalles del Producto</h3>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Marca)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Etapa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Etapa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Especie)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Especie)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Detalles)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Detalles)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Raza)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Raza)
                </dd>
            </dl>

            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                <a asp-action="Index">Regresar a la Lista</a>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>


