@model IEnumerable<MasVeterinarias.Models.Cita>

@{
    ViewData["Title"] = "Detalles";
    Layout = "_LayoutUser";
}

<div class="container min-vh-100">


    <h1 class="mt-4 mb-3">
        Hola Usuario

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Usuario</a>
        </li>
        <li class="breadcrumb-item active">Historial de citas</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a asp-controller="Cliente" asp-action="Details" class="list-group-item">Mis datos</a>
                <a asp-controller="Cita" asp-action="Detalles" class="list-group-item">Historial de citas</a>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h3>Historial de citas</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Servicio
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hora)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServicioId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hora)
                            </td>

                            <td>

                                @Html.ActionLink("Details", "Details", new { id = item.Id })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>


    <!-- Page Heading/Breadcrumbs -->
    <!-- /.row -->

</div>

