@model MasVeterinarias.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutUser";
}

<div class="container min-vh-100">
    @using (Html.BeginForm())
    {
        <h1 class="mt-4 mb-3">
            Hola Usuario

        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Usuario</a>
            </li>
            <li class="breadcrumb-item active">Detalles</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <div class="list-group">
                    <a asp-controller="Cliente" asp-action="Details" class="list-group-item">Mis datos</a>
                    <a asp-controller="Cita" asp-action="Detalles" class="list-group-item">Historial de citas</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-lg-9 mb-4">
                <h3>Mis datos</h3>
                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                </dl>

                <div>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |

                </div>
            </div>
        </div>

    }
    <!-- Page Heading/Breadcrumbs -->
    <!-- /.row -->

</div>

